
<%= render "/welcome/nav", locals: { all_listings: @all_listings} %>

<div class="agents_container">
  <div class="agents container">
    <div class="row">
      <div class="col-md-3">
        <div class="agent-image-container" id="michael">
          <%= image_tag "michael_neeley.jpg" %>
        </div>
      </div>
      <div class="col-md-9 agent-details">
        <div>
          <h2>MICHAEL J. NEELEY</h2>
          <div>
            Michael Neeley is a multi-million dollar producer for the last twenty plus years. He has closed over one hundred million dollars in residential sales in Pound Ridge since 2004 making him the number one agent in that town. Mike has consistently received consecutive awards from the Westchester County Board of Realtors; the highest honor received the coveted "Diamond Award for Excellence".Michael has been recognized by the national media as one of real estate's success stories. He has been featured in the New York Times as well as on the CBS Morning TV Show and Westchester Magazine.
          </div>
            <div class="contact container-flux">
              <div class="col-md-2">Contact Michael:</div>
              <div class="col-md-4"><a href="mailto:mneeley@houlihanlawrence.com">
                <i class="fa fa-envelope-o"></i> mneeley@houlihanlawrence.com
              </a></div>
              <div class="col-md-3"><i class="fa fa-mobile fa-lg"></i> (914) 588-2770</div>
              <div class="col-md-3"><i class="fa fa-briefcase"></i> (914) 234-9099 Ext. 22321</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="agent-image-container" id="kyle">
            <%= image_tag "kyle_cierzan.jpg" %>
          </div>
        </div>
        <div class="col-md-9 agent-details">
          <div>
            <h2>KYLE M. CIERZAN</h2>
            <div>
              Raised in a 'real estate family' in Westchester, Kyle graduated from the University of Miami where his aptitude for languages and connecting globally earned him a degree in International Relations and Portuguese. Before joining one of Connecticut's top tech companies, Kyle founded his own e-commerce business which provided essential skills in branding, marketing, and digital advertising which he now leverages to provide his clients with an outstanding level of service. Kyle's passion for the needs of his clients is apparent in every facet of his unique approach.
            </div>
            <div class="contact container-flux">
              <div class="col-md-2">Contact Kyle:</div>
              <div class="col-md-4"><a href="mailto:kcierzan@houlihanlawrence.com">
                <i class="fa fa-envelope-o"></i> kcierzan@houlihanlawrence.com
              </a></div>
              <div class="col-md-3"><i class="fa fa-mobile fa-lg"></i> (914) 400-8939</div>
              <div class="col-md-3"><i class="fa fa-briefcase"></i> (914) 234-9099</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>