
*{
  font-family: 'Open Sans', sans-serif;
}

.container{
  width: 100%
}


.navbar .navbar li{
  height: 70px;
  color: white;
}

.navbar-default{
  background-color: rgba(51,61,71, 1);
  border-bottom: 0px;
  height: 70px;

}

.navbar-default .navbar-brand{
  color: white;
  font-size: 2em;
  line-height: 70px;
  vertical-align: middle;
  float: none;

}

.navbar li > a {
  margin-top: 10px;
  border-radius: 3px;
  margin-left: 20px;
}

.vcenter-contents{
  display: flex;
  align-items: center;
  height: 400px;

}


@media (max-width: 767px){

 .navbar-default .navbar-nav .open .dropdown-menu>li>a{
  color: white
}

.profile_thumbnail{
  display: none;
}


.dropdown-header{
  color: white
}

.navbar-default .navbar-brand{
  font-size: 1.5em

}

.featured-image img{
  display: block;
  width: 100%;
  border: 0;
}

.vcenter-contents{
  height: auto;
}

.text-content{
    margin:20px;
}


.row{
  border-bottom: 1px solid #e0e0e0
}




}

.navbar-default .navbar-nav>li>a{
  color: white;
}



.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: white;
}

.navbar-header{
  /*width: 25%;`*/
}

.navbar-toggle{
  margin-top: 18px;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}



.navigation_container{
  width:100%;
  position: fixed;
  top:0px;
  left:0px;
  height: 70px;
  background-color: rgba(51,61,71, 0.6 );
  z-index: 10;
  color: #fafafa;
  letter-spacing: 2px;
}

.nav-button{
  display: inline-flex;
  vertical-align: middle;
  padding-left: 5%;
  line-height: 70px;
  vertical-align: middle;
}

#map-container, #listing-map-container {
  height: 400px;
  background-color: #e0e0e0;
  width: 100%;
  /*display: inline-block;*/
}

.banner-text{
  position: absolute;
  z-index: 5;
  width: 50%;
  left: 25%;
  margin: auto;
  bottom: 35%;
  color: #fafafa;
  text-shadow: 1px 1px 15px black;
  font-family: 'Lora', serif;

}

.em4{
  font-size: 4em
}
.em2  {
  font-size: 2em
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  max-height: 600px;
  /*overflow: hidden;*/

}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;

}

.rslides img {
  display: block;
  float: left;
  width: 100%;
  max-width: 100%;
  border: 0;
}

.slider-content-box{
  position: absolute;
  text-align: left;
  width: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  color: white;
  text-shadow: 1px 1px 15px black;
}

.slider-content{
  position: absolute;
  left: 5%;
  bottom: 5%;

}

.header{
  font-weight: bold;
  font-size: 2em;
  display: inline-flex;
  vertical-align: middle;
  padding-left: 5%;
  line-height: 70px;
  vertical-align: middle;
}

.large-font{
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 2px;

}

.text-content{
  padding: 10%;
  width: 100%

}

.nav-mini-button{
  height: 50px;
  width: 50px;
  background-color: #e0e0e0;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 20;
  border-radius: 3px;
  display: none;
}

.mini-button-bar{
  width: 40px;
  height: 5px;
  margin: auto;
  background-color: #333D47;
  border-radius: 3px;
  margin-top: 6px;

}


@media (max-width: 9970px) {

  .button-container{
    display: inline;

  }

}



@media (max-width: 770px) {

  .text-content{
    padding: 5%;
  }

  .button-container{
    display: none;

  }

  .nav-button{
    display: block;
    text-align: center;
    background-color: #333D47;
    width: 50%;
    margin-left: 50%;
    padding: 0px;
    border-top: 1px solid #e0e0e0;
    font-size: 1.5em


  }

  .nav-mini-button{
    display: block;
  }

  .home-slider{
    margin-top: 70px;
  }



}




.featured-image{
  height: 100%;
  width: 100%;
  padding: 0px;
  overflow: hidden;
  text-align: center;
  /*position: absolute;*/
}

.featured-image img{
  display: block;
  min-width: 100%;
  border: 0;


}

.col-sm-4, .col-sm-8, .col-sm-12{
  padding-left: 0px;
  padding-right: 0px;
}

.footer{
  width: 100%;
  background-color: rgba(51,61,71, 1);
  padding: 20px;
  color: #cecece;
}

.footer_object{
  padding-left: 5%;
  padding-right: 5%;
  height: 200px;
}

.footer_header{
  font-size: 2em;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cecece
}

.copyright{
  margin-top: 70px;
}