
*{
  font-family: 'Open Sans', sans-serif;
}

.container{
  width: 100%
}


.navbar .navbar li{
  height: 70px;
}

.navbar-default{
  background-color: rgba(51,61,71, 0.6);
  border-bottom: 0px;
  height: 70px;

}

.navbar-default .navbar-brand{
  color: white;
  font-size: 2em;
  line-height: 70px;
  vertical-align: middle;
  float: none;

}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:visited,  .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,   .navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar li > a {
  border-radius: 3px;
  margin: 10px;
}

.vcenter-contents{
  display: flex;
  align-items: center;
  height: 400px;

}


@media (max-width: 767px){

  .navbar-default .navbar-nav .open .dropdown-menu>li>a{
    color: white;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
    color: white;
  }

  .profile_thumbnail{
    display: none;
  }


  .dropdown-header{
    color: white
  }

  .navbar-default .navbar-brand{
    font-size: 1.5em;
  }

  .navbar-collapse{
    background-color: rgba(51,61,71, 1)
  }

  .featured-image img{
    display: block;
    width: 100%;
    border: 0;
  }

  .vcenter-contents{
    height: auto;
  }

  .row{
    border-bottom: 1px solid #e0e0e0
  }

  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: white;
  }

  .navbar-toggle{
    margin-top: 18px;
  }

  .navbar-default .navbar-toggle .icon-bar{
    background-color: white;
  }

}



#map-container, #listing-map-container {
  height: 400px;
  background-color: #e0e0e0;
  width: 100%;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  max-height: 600px;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;

}

.rslides img {
  display: block;
  float: left;
  width: 100%;
  max-width: 100%;
  border: 0;
}

.slider-content-box{
  position: absolute;
  text-align: left;
  width: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  color: white;
  text-shadow: 1px 1px 15px black;
}

.slider-content{
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.large-font{
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 2px;
}

.text-content{
  padding: 10%;
  width: 100%
}

.featured-image{
  height: 100%;
  width: 100%;
  padding: 0px;
  overflow: hidden;
  text-align: center;
}

.featured-image img{
  display: block;
  min-width: 100%;
  border: 0;
}

.col-sm-4, .col-sm-8, .col-sm-12, .col-md-6, .col-md-8, .col-md-4  {
  padding-left: 0px;
  padding-right: 0px;
}

.footer{
  width: 100%;
  background-color: rgba(51,61,71, 1);
  padding-top: 20px;
  color: #cecece;

}

.footer a{
  color: #cecece
}

.footer_object{
  padding-left: 5%;
  padding-right: 5%;
  height: 200px;
}

.footer_header{
  font-size: 2em;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cecece
}

.copyright{
  margin-top: 50px;
  margin-bottom: 20px;
}

.details div{
  margin-bottom: 10px;
  color: #555;
  font-size: 1.1em;
  font-family: 'Chronicle SSm A','Chronicle SSm B',Georgia,"Times New Roman",Times,serif;
}

.sold{
  color: red;
  font-weight: bold;
}

p{
  margin-top: 10px;
  margin-bottom: 10px;
}
.photos.row{
  height: 400px;
  overflow: hidden;
}

.row{
  border-bottom: 1px solid #e0e0e0;
}
