  <div class="footer container">
    <div class="row">
      <div class="col-sm-3 footer_object">
        <div class="footer_header">ABOUT</div>
        <div class="footer_item">Our Team</div>
        <div class="footer_item">Our Story</div>
        <div class="footer_item">Contact</div>
      </div>

      <div class="col-sm-3 footer_object">
        <div class="footer_header">HOMES</div>
        <div class="footer_item">Luxury</div>
        <div class="footer_item">Contemporary</div>
        <div class="footer_item">Modern</div>
      </div>

      <div class="col-sm-3 footer_object">
        <div class="footer_header">AGENTS</div>
        <div class="footer_item">List Item</div>
        <div class="footer_item">List Item</div>
        <div class="footer_item">List Item</div>
        <div class="footer_item">List Item</div>
      </div>

      <div class="col-sm-3 footer_object">


        <div class="footer_item copyright">CONTEMPORARY HOMES</div>
        <div class="footer_item">Developed by Greg Sanulli</div>

        <%= link_to "Admin Login", admin_path unless current_user %>
      </div>

    </div>
  </div>